@using Domain.Dtos
@using Microsoft.AspNetCore.Mvc.TagHelpers
@using Microsoft.EntityFrameworkCore
@model LibreriaWebApp.Models.LibroFormViewModel

@{
    ViewData["Title"] = "Editar Libro";
}

<h2>@ViewData["Title"]</h2>

@if (ViewBag.Message != null)
{
    <div class="alert alert-warning" role="alert">
        @ViewBag.Message
    </div>
}

<form asp-action="Edit" method="post" class="mt-3">
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.Id)

    <label  class="control-label">Tema</label>
    <div class="form-group mt-3">
    <select asp-for="TemaId" class="form-control" >
        <option value = 0>-- seleccionar el tema --</option>
        @if (Model.posiblesTemas != null)
        {
            @foreach (TemaDto temaDto in Model.posiblesTemas)
            {
                <option value = "@temaDto.Id">@temaDto.Nombre</option>
            }
        }
    </select>
    </div>

    <div class="form-group mt-3">
    <select asp-for="EditorialId" class="form-control">
        <option value = 0>-- seleccionar la editorial --</option>
        @if (Model.posiblesEditoriales != null)
        {
            @foreach (EditorialDto editorialDto in Model.posiblesEditoriales)
            {
                <option value = "@editorialDto.Id">@editorialDto.Nombre</option>
            }
        }
    </select>
    </div>

    <div class="form-group mt-3">
        <label asp-for="PrecioSugerido" class="control-label">Precio Sugerido</label>
        <input asp-for="PrecioSugerido" class="form-control"/>
        <span asp-for="PrecioSugerido" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="FechaPublicacion" class="control-label">Fecha Publicacion</label>
        <input asp-for="FechaPublicacion" class="form-control"/>
        <span asp-for="FechaPublicacion" class="text-danger"></span>
    </div>

    <div class="form-group mt-3">
        <label asp-for="CantidadPaginas" class="control-label">Cantidad de Paginas</label>
        <input asp-for="CantidadPaginas" class="form-control"/>
        <span asp-for="CantidadPaginas" class="text-danger"></span>
    </div>
        
    <div class="form-group mt-3">
        <label asp-for="ImagenPortada" class="control-label">Imagen Portada</label>
        <input asp-for="ImagenPortada" class="form-control"/>
        <span asp-for="ImagenPortada" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
        <label asp-for="Stock" class="control-label">Stock</label>
        <input asp-for="Stock" class="form-control"/>
        <span asp-for="Stock" class="text-danger"></span>
    </div>
    
    <div class="form-group mt-3">
       <label asp-for="ISBN" class="control-label"></label>
       <input asp-for="ISBN" class="form-control"/>
       <span asp-for="ISBN" class="text-danger"></span>
   </div>
   
   <div class="form-group mt-3">
       <label asp-for="Titulo" class="control-label">Titulo</label>
       <input asp-for="Titulo" class="form-control"/>
       <span asp-for="Titulo" class="text-danger"></span>
   </div>

    <div class="row mt-5">
        <div class="col-2">
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Guardar Cambios</button>
        </div>
    </div>
</form>


